<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width-device-width,initial-scale-1.0">
	<title>Index page</title>
	<link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
	<style>
		.background{
			background: url("{% static 'images/nature3.jpeg' %}");
			background-size: 100% 100%;
			background-attachment: fixed;
		}
		
	</style>

</head>
<body>
	<div class="container-fluid">
	<div class="row background py-5">
		<div class="col-md-12 py-5 text-light text-center" style="background:rgba(0,0,0,.7)" >

			<h1> welcome to my website</h1>
			</div>
		</div>

		<div class="row">
			<div class="col-md-4">
				<img src="{% static 'images/nature1.jpeg' %}" height="200" width="100%" alt="">
			</div>
		</div>
	</div>


</body>
</html>